/*

	jQuery Bubble Popup v.3.0
	http://www.maxvergelli.com/jquery-bubble-popup/
	
	Copyright (c) 2012 Max Vergelli
	
	Permission is hereby granted, free of charge, to any person obtaining a copy
	of this software and associated documentation files (the "Software"), to deal
	in the Software without restriction, including without limitation the rights
	to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
	copies of the Software, and to permit persons to whom the Software is
	furnished to do so, subject to the following conditions:
	
	The above copyright notice and this permission notice shall be included in
	all copies or substantial portions of the Software.
	
	THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
	IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
	FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
	AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
	LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
	OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
	THE SOFTWARE.

*/

/* Layout Settings */
.jquerybubblepopup {
    width: auto;
    height: auto;
    margin: 0px;
    padding: 0px;
    position: absolute;
    border: 0px;
    z-index: 100;
    text-align: center;
    background-color: transparent;
}

.jquerybubblepopup-ie {
    filter: progid:DXImageTransform.Microsoft.Shadow(color="#666666", Direction=135, Strength=3);
}

/* the plugin adds this class only if browser is IE; if IE9, it's added to main <DIV> else to <TABLE> */
.jquerybubblepopup table {
    width: auto;
    height: auto;
    margin: 0px;
    padding: 0px;
    display: table;
    border-collapse: collapse;
    border-spacing: 0px;
    border: 0px;
    empty-cells: show;
    background-color: transparent;
}

.jquerybubblepopup tbody {
    display: table-row-group;
    vertical-align: middle;
    border: 0px;
    background-color: transparent;
}

.jquerybubblepopup td {
    margin: 0px;
    padding: 0px;
    background-color: transparent;
}

.jquerybubblepopup-top-left, .jquerybubblepopup-top-right,
.jquerybubblepopup-bottom-left, .jquerybubblepopup-bottom-right {
    width: 21px;
    height: 21px;
    overflow: hidden;
    background-repeat: no-repeat;
}

.jquerybubblepopup-top-middle, .jquerybubblepopup-bottom-middle {
    overflow: hidden;
    background-repeat: repeat-x;
}

.jquerybubblepopup-middle-left, .jquerybubblepopup-middle-right {
    overflow: hidden;
    background-repeat: repeat-y;
}

.jquerybubblepopup-tail {
    border: 0px;
    margin: 0px;
    padding: 0px;
    display: inline;
}

/*  
	Themes:

	The plugin adds the class of the theme (for example ".jquerybubblepopup-azure") 
	to the main <DIV> container, then you can edit the style of any element inside the 
	Bubble Popup markup for each theme.
	
	The following code defines fonts and backgrounds of the "innerHtml" for each theme:
*/
.jquerybubblepopup-azure .jquerybubblepopup-innerHtml,
.jquerybubblepopup-black .jquerybubblepopup-innerHtml,
.jquerybubblepopup-blue .jquerybubblepopup-innerHtml,
.jquerybubblepopup-green .jquerybubblepopup-innerHtml,
.jquerybubblepopup-grey .jquerybubblepopup-innerHtml,
.jquerybubblepopup-orange .jquerybubblepopup-innerHtml,
.jquerybubblepopup-violet .jquerybubblepopup-innerHtml,
.jquerybubblepopup-yellow .jquerybubblepopup-innerHtml {
    font-family: 'Trebuchet MS', Arial;
    font-size: 11px;
    font-weight: normal;
    color: #000000;
    background-color: #FFFFFF;
}

.jquerybubblepopup-all-azure .jquerybubblepopup-innerHtml,
.jquerybubblepopup-all-black .jquerybubblepopup-innerHtml,
.jquerybubblepopup-all-blue .jquerybubblepopup-innerHtml,
.jquerybubblepopup-all-green .jquerybubblepopup-innerHtml,
.jquerybubblepopup-all-grey .jquerybubblepopup-innerHtml,
.jquerybubblepopup-all-orange .jquerybubblepopup-innerHtml,
.jquerybubblepopup-all-violet .jquerybubblepopup-innerHtml,
.jquerybubblepopup-all-yellow .jquerybubblepopup-innerHtml {
    font-family: 'Trebuchet MS', Arial;
    font-size: 11px;
    font-weight: normal;
    color: #FFFFFF;
}

.jquerybubblepopup-all-azure .jquerybubblepopup-innerHtml {
    background-color: #0099FF;
}

.jquerybubblepopup-all-black .jquerybubblepopup-innerHtml {
    background-color: #000000;
}

.jquerybubblepopup-all-blue .jquerybubblepopup-innerHtml {
    background-color: #0066CC;
}

.jquerybubblepopup-all-green .jquerybubblepopup-innerHtml {
    background-color: #66FF00;
}

.jquerybubblepopup-all-grey .jquerybubblepopup-innerHtml {
    background-color: #666666;
}

.jquerybubblepopup-all-orange .jquerybubblepopup-innerHtml {
    background-color: #FF9933;
}

.jquerybubblepopup-all-violet .jquerybubblepopup-innerHtml {
    background-color: #FF33FF;
}

.jquerybubblepopup-all-yellow .jquerybubblepopup-innerHtml {
    background-color: #FFCC00;
}
